﻿@model PostViewModel
@{
    ViewData["Title"] = "AddComments";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<form method="post" asp-action="AddComments" asp-controller="PublicViewer">
    <input type="hidden" asp-for="@Model.PostId"  />
    <div class="container-fluid">
        <div class="mb-3">
            <label for="autor_id" class="form-label">Title</label>
            <input type="text" asp-for="Title" class="form-control form-control-sm" id="autor_id" readonly>
        </div>
        <div class="mb-3">
            <label for="content2_id" class="form-label">Post Content</label>
            <textarea asp-for="Content" class="form-control form-control-sm" id="content2_id" rows="3" readonly></textarea>
        </div>

        <div class="mb-3">
            <label for="autor2_id" class="form-label">Your Name</label>
            <input type="text" asp-for="PostDetail.CommentsAutor" class="form-control form-control-sm" id="autor2_id">
        </div>
        <div class="mb-3">
            <label for="content_id" class="form-label">Add Comments</label>
            <textarea asp-for="PostDetail.Comments" class="form-control form-control-sm" id="content_id" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-sm">Save Comment</button>
    </div>
</form>
<h3 class="text-center mb3">Comments</h3>
@if (Model.PostDetails.Any())
{
    @foreach (var item in Model.PostDetails)
    {
        <div class="card mt-2 mb-3">
            <div class="card-body">
                <h5 class="card-title">@item.CommentsAutor</h5>
                <p class="card-text">@item.Comments</p>
                <p class="card-subtitle">@item.AuditCreatedOnDate</p>
            </div>
        </div>
    }
}