﻿@model IEnumerable<Post>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

@if (Model.Any())
{
    @foreach (var item in Model)
    {
    <div class="card mt-2 mb-3">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Content</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item item-secondary">Approved Date: @item.ApprovedDate.ToShortDateString()</li>
            <li class="list-group-item item-secondary">Autor: @item.PostAutor</li>
        </ul>
        <div class="card-footer">
            <a  asp-controller="PublicViewer" asp-action="AddComments" asp-route-id="@item.PostId"> Add comments </a>
        </div>
    </div>
    }
}

