﻿@model PostViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" asp-action="Create" asp-controller="Poster">
    <div class="container-fluid">
        <div class="mb-3">
            <label for="autor_id" class="form-label">Title</label>
            <input type="text" asp-for="Title" class="form-control form-control-sm" id="autor_id" placeholder="Write your Title">
        </div>
        <div class="mb-3">
            <label for="content_id" class="form-label">Post Content</label>
            <textarea asp-for="Content" class="form-control form-control-sm" id="content_id" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-sm">Save Post</button>
    </div>
</form>




