﻿@model PostIndexViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<form method="post" asp-action="Edit" asp-controller="Poster">
    <input type="hidden" asp-for="@Model.Post.PostId" value="@Model.Post.PostId" />
    <div class="container-fluid">
        <div class="mb-3">
            <label for="autor_id" class="form-label"></label>
            <input type="text" class="form-control form-control-sm" id="autor_id" placeholder="Ingrese su nombre" disabled="@Model.DisableField" asp-for="@Model.Post.Title" value="@Model.Post.Title">
        </div>
        <div class="mb-3">
            <label for="content_id" class="form-label">Contenido</label>
            <textarea class="form-control form-control-sm" id="content_id" asp-for="@Model.Post.Content" disabled="@Model.DisableField" rows="3">@Model.Post.Content</textarea>
        </div>


        @{ var showSelect = (User.IsInRole(RolesEnum.Editor.ToString())) ? "" : "none";
            <div class="mb-3" style="display:@showSelect">
                <label for="content_id" class="form-label">State</label>
                <select asp-for="@Model.Post.PostState" disabled="@Model.DisableField">
                    <option value="PENDING_PUBLISH_APPROVAL">PENDING_PUBLISH_APPROVAL</option>
                    <option value="REJECTED">REJECTED</option>
                    <option value="APPROVED">APPROVED</option>
                </select>
            </div>
        }

        @{ var showStateValue = (User.IsInRole(RolesEnum.Writer.ToString())) ? "" : "none";
            <div class="mb-3" style="display:@showStateValue">
                <label for="content_id" class="form-label">State:</label>
                <span id="content_id"> @Model.Post.PostState </span>
            </div>           
        }
        
        <button type="submit" class="btn btn-success btn-sm" disabled="@Model.DisableField">Publish Post</button>
        <a asp-controller="Poster" asp-action="Index" class="btn btn-success btn-sm">Back</a>

    </div>
</form>


