﻿@model PostIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="Create" asp-controller="Poster">
    <div class="container-fluid">
        <div class="mb-3">
            <label for="autor_id" class="form-label">Title</label>
            <input type="text" class="form-control form-control-sm" id="autor_id" placeholder="Write your Title" asp-for="@Model.Post.Title">
        </div>
        <div class="mb-3">
            <label for="content_id" class="form-label">Post Content</label>
            <textarea class="form-control form-control-sm" id="content_id" asp-for="@Model.Post.Content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-sm">Publish Post</button>
    </div>
</form>
<h3 class="text-center mb3">List Post</h3>
@if (Model.ListPost.Any())
{
    @foreach (var item in Model.ListPost)
    {

        <div class="card mt-2 mb-3">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Content</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item item-secondary">Approved Date: @item.ApprovedDate.ToShortDateString()</li>
                <li class="list-group-item item-secondary">Autor: @item.PostAutor</li>
                <li class="list-group-item item-secondary">State: <b>@item.PostState</b></li>
            </ul>
            <div class="card-footer text-left">
                <a asp-controller="Poster" asp-action="Edit" asp-route-id="@item.PostId"> View </a>
                @if (User.IsInRole(nameof(RolesEnum.Editor)))
                {
                    <a asp-controller="Poster" asp-action="Delete" asp-route-id="@item.PostId"> Delete </a>
                }

            </div>
        </div>

    }
}


