﻿@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    ViewData["Title"] = "Login";
}

<main class="form-signin">
    @using (Html.BeginForm("SignIn", "Login"))
    {
        <a asp-controller="PublicViewer" asp-action="Index">
            <img class="mb-4" src="~/assets/images/bootstrap-logo.svg" alt="" width="72" height="57">
            <span>Home</span>
        </a>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="text" asp-for="Username" class="form-control" id="floatingInput" placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    }
</main>
